# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.d
*.lib

# Executables
*.exe
*.out
*.app
*.bc

*.idb
*.pdb
*.sdf
*.suo
*.opensdf
*.cache
*.log
*.tlog
/shaders/fs_*.h
/shaders/vs_*.h
/data/*.h
/projects
